<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://78.media.tumblr.com/61cb4b6a9b08c9241947337dbaa58413/tumblr_o4ds32DS8g1tufvwho1_1280.png");
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
}
body {
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
  img {
    border-radius: 50%;
    width:700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
</head>
<body>

<h1>Visual</h1>
<p>Females Behind Art</p>

</body>
</html>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Zaha_Hadid_in_Heydar_Aliyev_Cultural_center_in_Baku_nov_2013.jpg/1200px-Zaha_Hadid_in_Heydar_Aliyev_Cultural_center_in_Baku_nov_2013.jpg" alt="Zaha Hadid">
